h1 Thank you for your purchase
p Now you can answer your test on this link:
a href="http://www.shareyourtest.com/answers/#{@test.permalink}"
  = "http://www.shareyourtest.com/answers/#{@test.permalink}"
br
p Keep practicing!