#answer-header{
	height:60px;
	background:#DDD;
	font-size:30px;
	padding-left:20px;
	padding-top:5px;
}

#answer-header-num-questions{
  font-size:12px;
  margin-left:20px;	
}

#answer-footer{
  height:60px;
  background:#CCC;
  position:fixed;
  bottom:0;
  width:100%;
}

.question-number-square{
  background:#EEE;
  border:1px solid #AAA;
  width:21px;
  height:21px;	
  float:left;
  padding-top:2px;	
  margin-left:3px;
  margin-top:5px;
  font-size:11px;
  text-align:center;
  cursor:pointer;	
  
}

.question-number-square-current{
  background:#333;
  color:#FFF !important;
  text-shadow: 1px 0px 0px #FFF;	
  font-weight:bold;
}

#question-squares-title{
  font-size:30px;
  margin-top:20px;
  margin-left:10px;
}

#blank-answer-area{
  background:#FFF;
  height:100%;
  border:1px solid #000;
  margin-left:20px;
  margin-top:77px;
  height:300px;
}

#answer-question-number{
  font-size:44px;
  margin-top:10px;
  margin-left:12px;
}

#answer-question-content{
  margin-top:20px;
}