/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
  margin:0;
  padding:0;
  font-family:helvetica;
}

#logo{
  font-size:29px;
  font-family:helvetica;
  margin-top:10px;
  margin-left:20px;
  float:left;
  color: #271D9C;
}

#header{
  height:60px;
  width:100%;
  background:#FFF;
}

#footer{
  background: #FFF;
  height:60px;
  width:100%;
  bottom:0;
  position:absolute;
}

body{
  background:#7AB8F1 !important;
}

h1{
  color: #FFF !important;
  text-shadow: 1px 1px 1px #000;
}