/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
  margin:0;
  padding:0;
  font-family: "OpenSans", sans-serif
}

#logo{
  font-size:29px;
  margin-top:10px;
  margin-left:20px;
  float:left;
  color: #271D9C;
}

#header{
  height:60px;
  width:100%;
  color:#FFF;
  background:#444444;
  position:fixed;
  border-bottom: 1px solid #EBEBEB;
  top:0;
  z-index: 3;
}

#header a{
  color:#FFF;
}

.dropdown-menu a{
  color:#000 !important;
}

#footer a{
  color:#FFD303  
}

#underheader{
  height:40px;
  margin-bottom: 20px
}
#footer{
  border-top:1px solid #EBEBEB;
  background: #444;
  height:60px;
  width:100%;
  bottom:0;
  position:fixed;
  color:#FFF;
}

body{
  background:#FFF !important;
}

h1, h2{
  font-size:33px !important;
  font-family: OpenSans;
  margin: 0 !important;
}

.alert{
  color: #CA1B1B;
  background: #F0B5B5;
  display:inline;
}

.empty-space{
  height:320px;
}

a:hover{
  text-decoration:none !important;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 100;
  src: local("OpenSans"), local("OpenSans"), url("/assets/OpenSans-Light-webfont.woff");
}