/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
  margin:0;
  padding:0;
  font-family: "OpenSans", sans-serif
}

#logo{
  font-size:29px;
  margin-top:10px;
  margin-left:20px;
  float:left;
  color: #271D9C;
}

#header{
  height:60px;
  width:100%;
  background:#FFF;
  position:fixed;
  border-bottom: 2px solid #520F0F;
  top:0;
}

#footer{
  border-top:2px solid #000;
  background: #FFF;
  height:60px;
  width:100%;
  bottom:0;
  position:fixed;
}

body{
  background:#7AB8F1 !important;
}

h1, h2{
  color: #FFF !important;
  text-shadow: 0px 0px 3px #000;
  font-size:33px !important;
  font-weight: bold !important;  
  font-family: OpenSans;
}

.alert{
  color: #CA1B1B;
  background: #F0B5B5;
  display:inline;
}

.empty-space{
  height:600px;
}

a:hover{
  text-decoration:none !important;
}

@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 100;
  src: local("OpenSans"), local("OpenSans"), url("/assets/OpenSans-Light-webfont.woff");
}