.flat-btn{
  width:130px;
  border:2px solid black;
  padding:10px;
  font-size:8px;
  font-weight:bold;
  font-family:verdana;	
  text-align:center;
  cursor:pointer;
  letter-spacing:1px;
}

.flat-btn-big{
  width:230px;
  border:2px solid black;
  padding:10px;
  font-size:14px;
  font-weight:bold;
  font-family:verdana;
  text-align:center;
  cursor:pointer;
  letter-spacing:1px;
}


.flat-btn-gray{
  border-color:#888;
  color:#888;
}

.flat-btn-gray:hover, .flat-btn-gray-hover {
  background:#888;
  color:#FFF;
}

.flat-btn-green{
  border-color:#36AA6E;
  background:#36AA6E;
  color:#FFF;
}

.flat-btn-green:hover{
  border-color:#36AA6E;
  background:transparent;
  color:#36AA6E;
}

.flat-btn-blue{
  border-color:#428bca;
  background:#428bca;
  color:#FFF;
}

.flat-btn-blue:hover{
  border-color:#428bca;
  color:#428bca;
  background:transparent;
}

.flat-btn-red{
  border-color:#C30409;
  color:#C30409;
}

.flat-btn-red:hover{
  background:#C30409;
  color:#FFF;
}

.flat-btn-yellow{
  border-color:#F1D12A;
  color:#F1D12A;
  background:transparent;
}

.flat-btn-yellow:hover{
  background:#F1D12A;
  color:#264F65;
}
.flat-btn-white{
  border-color:#FFF;
  color:#FFF;
  background:transparent;
}

.flat-btn-white:hover{
  border-color:#CCC;
  color:#CCC;
}