.background-hp1{
  background: image-url("background-hp1.png");
  min-height:678px;
}

.background-hp2{
  background: #FFF;
  height:329px;
}

.background-hp3{
  background: #f2f4f5;
  height:598px;
}

.background-hp4{
  float:left;
  background: image-url("background-hp4.png");
  height:406px;
  width:100%;
}

#hp-main-container{
  margin:0;
}

.hp-wrapper{
  width:1200px;
  margin:0 auto;
}

#hp-header-links{
  font-size:17px;
  font-weight:bold;
  color:#333;
  font-family:Arial !important;
}

#hp-logo{
  font-size:29px;
}

.big-title{
  font-size:59px;
  font-weight: bold;
  color:#295E88;
}

.sub-text{
  width: 598px;
  margin: 0 auto;
  font-size: 17px;
}

#hp-main-container h2{
  font-size:15px;
  font-weight: bold;
  color:#295E88;
}

#practice-button{
  color: #295E88;
  cursor:pointer;
}

#hp-footer{
  height:70px;
  background: #1E1E1E;
  color: #FFF;
}

.hp-pencil{
  background: image-url("pencil.png");
  height:82px;
  width:55px;
}
.hp-monitor{
  background: image-url("monitor.png");
  height:81px;
  width:70px;
}
.hp-target{
  background: image-url("target.png");
  height:72px;
  width:86px;
  margin-bottom:3px;
  margin-top:7px;
}
.learn-more-unit{
  width:250px;
  margin-right:135px;
}

.hp-learn-more{
  width:1020px;
  margin-top:60px;
}

.hp-learn-more-subtitle{
  font-size:17px;
  color:#000;
}

.hp-learn-more-text{
  margin-top:25px;
  color:#AAA;
}