// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hp_text{
  float:left;
  margin-left:150px;
  margin-top: 140px;
  width: 600px;
}


#hp_site_description{
  width:500px;
  margin-top: 60px;
  font-size:28px;
  color:#FFF;
  text-shadow: 1px 1px #000;
}

#hp_singin{
  float:left;
  margin-top: 150px;
  margin-left: 0px;
}

.hp_frame{
  min-height: 800px;
  width:100%;
}

.hp_frame h2{
  color:#FFF;
  font-size:24px;
  text-shadow: 1px 1px #000;
}

.water_frame{
  background-image: image-url("agua.jpg");
  border-bottom: 3px solid #000;
}

.green_frame{
  background:#2B3C36;
  border-bottom: 3px solid #000;
}

.yellow_frame{
  background-image: image-url("green.jpg");
  height:370px !important;
  border-bottom: 3px solid #000;
}

.pink_frame{
  background:#7AB8F1;
}
