.background-hp1{
  background: image-url("background-hp1.png");
  background-size: 100%;
  min-height:603px;
  background-repeat: no-repeat;
}

.background-hp2{
  background: #FFF;
  height:329px;
}

.background-hp3{
  background: #f2f4f5;
  height:598px;
}

.background-hp4{
  float:left;
  background: image-url("background-hp4.png");
  background-size: 100%;
  min-height:360px;
  width:100%;
  background-repeat: no-repeat;
}

#hp-main-container{
  margin:0;
}

.hp-wrapper{
  width:1200px;
  margin:0 auto;
}

#hp-header-links{
  font-size:17px;
  font-weight:bold;
  color:#333;
  font-family:Arial !important;
}

#hp-logo{
  font-size:29px;
}

.big-title{
  font-size:59px;
  font-weight: bold;
  color:#295E88;
}

.sub-text{
  width: 598px;
  margin: 0 auto;
  font-size: 17px;
}

#hp-main-container h2{
  font-size:20px;
  font-weight: bold;
  color:#295E88;
}

#practice-button{
  cursor:pointer;
}

#hp-footer{
  height:60px;
  background: #1E1E1E;
  color: #FFF;
}

#hp-footer a {
 color:#F1D12A;
}

.hp-pencil{
  background: image-url("pencil.png");
  height:82px;
  width:55px;
}
.hp-monitor{
  background: image-url("monitor.png");
  height:81px;
  width:70px;
}
.hp-target{
  background: image-url("target.png");
  height:72px;
  width:86px;
  margin-bottom:3px;
  margin-top:7px;
}
.learn-more-unit{
  width:250px;
  margin-right:135px;
}

.hp-learn-more{
  width:1020px;
  margin-top:60px;
}

.hp-learn-more-subtitle{
  font-size:17px;
  color:#000;
}

.hp-learn-more-text{
  margin-top:25px;
  color:#AAA;
}

.hp-link, .hp-link a{
  font-family:arial;
  color:#484a4b;
}
.redtag{
  background: image-url("redtag.png");
  width:63px;
  height:37px;
  position:absolute;
  right:-5px;
  color:#FFF;
  padding-top:12px;
  padding-left:12px;
  font-size:11px;
}

.goldtag{
  background: image-url("goldtag.png");
  width:63px;
  height:37px;
  position:absolute;
  right:24px;
  color:#777;
  padding-top:12px;
  padding-left:32px;
  font-size:11px;
}

.silvertag{
  background: image-url("silvertag.png");
  width:63px;
  height:37px;
  position:absolute;
  right:24px;
  color:#FFF;
  padding-top:12px;
  padding-left:32px;
  font-size:11px;
}
.bronzetag{
  background: image-url("bronzetag.png");
  width:63px;
  height:37px;
  position:absolute;
  right:24px;
  color:#000;
  padding-top:12px;
  padding-left:22px;
  font-size:11px;
}
.ranking-badge{
  background: image-url("badge.png");
  width:38px;
  height:61px;
  margin-left: 15px;
  position: relative;
  top: -14px;
}