.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt100{margin-top:100px;}
.mt150{margin-top:150px;}
.mt130{margin-top:130px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.ml108{margin-left:108px;}


.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mr40{margin-right:40px;}
.mr95{margin-right:95px;}
.mr140{margin-right:140px;}

.mb20{margin-bottom:20px;}

.p5{padding:5px}
.p20{padding:20px}

.fs12{font-size:12px;}
.fs20{font-size:20px;}

.pl10 {padding-left:10px;}
.pl40 {padding-left:40px;}

.pb40 {padding-bottom:40px;}

.pr105{padding-right:105px}
.pr140{padding-right:140px}

.mid-gray{color:#999}
.black{color:#000000}
.red{color:#430000}

.lsnone{list-style-type: none;}

.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.cp{cursor:pointer;}
.dn{display:none}

.red{color:#c32212;}

.w100{width:100%}

.tc{text-align:center}
.fwb{font-weight:bold}

.fs22{font-size:22px;}

.pr{position:relative;}
.pa{position:absolute;}
.pf{position:fixed;}
.ps{position:static;}