.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}

.ml20{margin-left:20px;}
.ml40{margin-left:40px;}

.mid-gray{color:#999}
.black{color:#000000}

.fl{float:left;}
.cb{clear:both;}

.red{color:#c32212;}