.login-box{
  width:300px;
  background: #FFFFFF;
  padding: 13px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px;
}

.login-box input{
  height:30px;
  padding-left: 4px;
}

.log_in_box_larger{
  width:274px;
}

.login-box input[type=password]{
  margin-top:12px;
  margin-right: 10px;
}

.signup-button{
  text-shadow: 1px 1px 1px #000;
}
