.login-box{
  width:300px;
  color:#FFF;
  padding: 13px;
  margin:0 auto;
}

.login-box {
  input[type=text],input[type=password]{
    height:30px;
    padding-left: 4px;
    border:1px solid #FFF;
    color:#000;
  }
}

  .log_in_box_larger{
    width:274px;
  }

  .signup-button{
    text-shadow: 1px 1px 1px #000;
  }

  .field_with_errors input{
    border: 2px solid #F00;
  }

  .question-text-area{
    width: 450px;
    height: 250px;
  }