.test-menu{
  width:130px;
  background: #FFF;
  height: 100%;
  float:left;
  min-height: 600px;
  position:fixed;
  top:60px;
  box-shadow: 1px 1px 3px #000;
}

#questions-view div{
  padding:10px;
  margin-right:10px;
  background: #FFF;
  border-bottom: 1px solid #AAA;
  height: 64px;
}

#questions-view div:hover{
  background:#DDD;
}

#questions-view span{
  color: #888;
  margin-left: 30px;
}

.delete{
  height: 54px !important;
  background: transparent !important;
}
