body{
  background:#E5E5E5 !important;
}

.test-menu{
  width:155px;
  background: #FFF;
  height: 100%;
  float:left;
  min-height: 600px;
  position:fixed;
  border-right:1px solid #DDD;
  top:60px;
  left:0;
}

.menu-selected{
  color:#428bca;
}



.right-answer div{
  color:#428bca !important;
}

.question-view-div{
  padding:30px 10px;
  margin-right:10px;
  background: #FFF;
  border-bottom: 1px solid #AAA;
  min-height:80px;
  float:left;
}

.question-view-div:hover{
  background:#F5F5F5;
}

#questions-view span{
  color: #888;
  margin-left: 30px;
}

 .join-now-input{
  padding:10px;
  width:350px;
  border:1px solid #DDD;
 }

.join-now-button{
  margin-left:100px;
}

.question-text-area{
  padding:20px;
  line-height: 30px;
  font-size:16px;
  border: 1px solid #EBEBEB;
}

#preview-question-content{
  margin-top: 30px;
}

.delete{
  background: transparent !important;
}

.question-number{
  font-size:30px;
}

.published{
  color:#4A4;
}

.draft{
  color:#A44;
}

.test-snippet-container-main{
  width: 100%;
  padding:15px;
  float:left;
}

.test-snippet-container{
  background: #97A14B;
  width: 368px;
  padding:15px;
  float:left;
  color:#222;
  box-shadow: 0px 0px 6px;
  overflow: hidden;
}

.test-snippet-container:hover{
  background: #A7B15B;
}  

h3 {
  font-size:20px;
  color:#FFF !important;
}

.test-snippet-image img{
  width:80px;
  height:80px;
}

.test-snippet-image-main img{
  width:130px;
  height:130px;
  border: 1px solid #CCC;
}

.test-snippet-info h2 {
  font-size:20px !important;
  color:#000 !important;
}

.test-snippet-info h3{
  margin-top: 5px !important;
  color:#FFF;
}

.test-snippet-info-main{
  width:70%;
  margin-left:15px;
}

.submit-picture{
  float:left;
  width:120px;  
  background: #F00;
}

.submit-picture-input{
  float:left;
  width:120px; 
  z-index:2;
  -moz-opacity:0;
  opacity: 0; 
}

#create-question-error{
  width:330px;
  margin-top: 10px;
}

.preview-answer:hover{
  border:2px solid #74B7FF;
  padding:13px;
}

.preview-answer{
  padding:15px;
  cursor:pointer;
  width:100%;
}
.test-snippet-info-main h1{
  margin-top: 0px
}