.test-menu{
  width:100px;
  background: #FFF;
  height: 100%;
  float:left;
  min-height: 600px;
  position:fixed;
}

#questions-view div{
  padding:10px;
  background: #FFF;
  border-bottom: 1px solid #AAA;
  height: 64px;
}

.delete{
  height: 54px !important;
}