// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_profile_picture img{
  width:130px;
  height:130px;
}

.bio-input{
  width:450px;
  height:110px;
  padding:5px;

}