<!DOCTYPE html>
<html>
<head>
  <title>Shareyourtest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <div id="logo">Share Questions</div>
</div>
<%= yield %>

<div id="footer">
  <div class="mt10 ml20">ShareQuestions - 2014</div>
</div>

</body>
</html>
